.DS_Store
.idea/
node_modules
*.log
*.traineddata
.next
app
dist
renderer/public/kanji/**
renderer/public/dict/**
renderer/public/wanikani/**
renderer/public/cantonese/**
renderer/public/chinese/**
renderer/public/hanzi/**
renderer/public/vietnamese/**
archived/**
