@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-white;
  }
}

@layer components {
  .btn-blue {
    @apply text-white font-bold px-4 py-2 rounded bg-blue-600 hover:bg-blue-500;
  }
}


.meaning-kanji {
  justify-self: center;
  text-align: center;
  -webkit-text-fill-color: darkblue;
}

.meaning-kanji:hover {
  -webkit-text-fill-color: royalblue;
}


.subtitle {
  justify-self: center;
  text-align: center;
  -webkit-text-fill-color: yellow;
}

.subtitle:hover {
  -webkit-text-fill-color: aqua;
}

.video-container {
  height: 100vh;
  width: 100vw;
}

.video {
  width: 100% !important;
  height: 100% !important;
}

video-js {
  width: 100% !important;
  height: 100% !important;
}

.controller {
  opacity: 100;
  transition: 0.3s ease-in-out;
}


.controller.controller-hidden {
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.playpause {
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.playpause:hover {
  background: #464646;
}

.playpause .button {
  width: 15px;
  height: 15px;
  background: #f0f0f0;
  transition: inherit;
  clip-path: polygon(0 0, 50% 25%, 50% 75%, 50% 75%, 50% 25%, 100% 50%, 100% 50%, 0 100%);
}

.playpause.playing .button {
  clip-path: polygon(0 0, 40% 0, 40% 100%, 60% 100%, 60% 0, 100% 0, 100% 100%, 0 100%);
}