@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-white;
  }
}

@layer components {
  .btn-blue {
    @apply text-white font-bold px-4 py-2 rounded bg-blue-600 hover:bg-blue-500;
  }
}


.meaning-kanji {
  justify-self: center;
  text-align: center;
  -webkit-text-fill-color: darkblue;
}

.meaning-kanji:hover {
  -webkit-text-fill-color: royalblue;
}

.video-container {
  height: 100vh;
  width: 100vw;
}

.video {
  width: 100% !important;
  height: 100% !important;
}

video-js {
  width: 100% !important;
  height: 100% !important;
}

.animation {
  opacity: 0.7;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

.animation:hover {
  opacity: 1;
}

/*Play Pause Styling*/

.playpause {
  cursor: pointer;
}

.playpause .button {
  width: 15px;
  height: 15px;
  background: #f0f0f0;
  transition: inherit;
  clip-path: polygon(0 0, 50% 25%, 50% 75%, 50% 75%, 50% 25%, 100% 50%, 100% 50%, 0 100%);
}

.playpause.playing .button {
  clip-path: polygon(0 0, 40% 0, 40% 100%, 60% 100%, 60% 0, 100% 0, 100% 100%, 0 100%);
}

button {
  outline: none;
}

.unselectable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  outline: none;
}

/* Volume styling */

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}


.picker {
  position: relative;
}

.swatch {
  z-index: 0;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  border: 3px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.popover {
  z-index: 100;
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  border-radius: 9px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
