@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Internet Explorer and Edge */
html {
  -ms-overflow-style: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

@layer base {
  body {
    @apply bg-gray-900 text-white;
  }
}

@layer components {
  .btn-blue {
    @apply text-white font-bold px-4 py-2 rounded bg-blue-600 hover:bg-blue-500;
  }
}


.meaning-kanji {
  justify-self: center;
  text-align: center;
  -webkit-text-fill-color: darkblue;
}

.meaning-kanji:hover {
  -webkit-text-fill-color: royalblue;
}

.video-container {
  height: 100vh;
  width: 100vw;
}

.video {
  width: 100% !important;
  height: 100% !important;
}

video-js {
  width: 100% !important;
  height: 100% !important;
}

.animation {
  opacity: 0.7;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

.animation:hover {
  opacity: 1;
}

/*Play Pause Styling*/

.playpause {
  cursor: pointer;
}

.playpause .button {
  width: 15px;
  height: 15px;
  background: #f0f0f0;
  transition: inherit;
  clip-path: polygon(0 0, 50% 25%, 50% 75%, 50% 75%, 50% 25%, 100% 50%, 100% 50%, 0 100%);
}

.playpause.playing .button {
  clip-path: polygon(0 0, 40% 0, 40% 100%, 60% 100%, 60% 0, 100% 0, 100% 100%, 0 100%);
}

button {
  outline: none;
}

.unselectable {
  user-drag: none !important;
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  outline: none;
}

/* Volume styling */

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}


.picker {
  position: relative;
}

.swatch {
  z-index: 0;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  border: 3px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.popover {
  z-index: 100;
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  border-radius: 9px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.buttonDisabled {
  cursor: not-allowed !important;
  /* any other styles for the disabled state */
}

.hovery {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  transition: transform 500ms;
}

.hovery:hover {
  transform: scale(1.05);
}

.scrollable-container {
  overflow-y: auto;
  padding: 1rem;
  border-radius: 0.5rem; /* tailwind rounded-b-lg */
}


.radical-bubble {
  font-size: 18px;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.2s ease-out, color 0.2s ease-out, box-shadow 0.2s ease-out;
}

.radical-bubble:hover {
  cursor: pointer;
  transition: background-color 0.2s ease-out, color 0.2s ease-out, box-shadow 0.2s ease-out;
}


.url-bubble {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.2s ease-out, color 0.2s ease-out, box-shadow 0.2s ease-out;
}

.url-bubble:hover {
  text-decoration: underline;
  transition: background-color 0.2s ease-out, color 0.2s ease-out, box-shadow 0.2s ease-out;
}

.custom-radio {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-radio label {
  cursor: pointer;
}

/* Create a custom radio button */
.custom-radio label:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  content: '';
}

/* On mouse-over, add a grey background color */
.custom-radio:hover input ~ label:before {
  background-color: #ccc;
}

/* When the radio button is checked, change the color and content */
.custom-radio input:checked ~ label:before {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.custom-radio label:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio input:checked ~ label:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.custom-radio label:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
